SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
SLACK_LOGGING_LEVEL=DEBUG

GITHUB_USERNAME=
GITHUB_REPO=
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=
GITHUB_APP_NAME=slack-release-bot
STG_RELEASE_EVENT_NAME=stg_release
PROD_RELEASE_EVENT_NAME=prod_release

